In [1]:
!pip install jupyter-dash
from jupyter_dash import JupyterDash
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.graphics.mosaicplot import mosaic
import warnings
warnings.filterwarnings("ignore")

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: jupyter-dash in c:\users\elcot\appdata\roaming\python\python39\site-packages (0.4.2)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from jupyter-dash) (2.28.1)
Requirement already satisfied: ipykernel in c:\programdata\anaconda3\lib\site-packages (from jupyter-dash) (6.15.2)
Requirement already satisfied: dash in c:\users\elcot\appdata\roaming\python\python39\site-packages (from jupyter-dash) (2.9.1)
Requirement already satisfied: ansi2html in c:\users\elcot\appdata\roaming\python\python39\site-packages (from jupyter-dash) (1.8.0)
Requirement already satisfied: flask in c:\programdata\anaconda3\lib\site-packages (from jupyter-dash) (1.1.2)
Requirement already satisfied: nest-asyncio in c:\programdata\anaconda3\lib\site-packages (from jupyter-dash) (1.5.5)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from jupyter-dash) (7.31.1)
Requirement already satisfied: retrying in c:\users\elcot\appdata\roaming\python\python39\site-packages (from jupyter-dash) (1.3.4)
Requirement already satisfied: dash-table==5.0.0 in c:\users\elcot\appdata\roaming\python\python39\site-packages (from dash->jupyter-dash) (5.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\elcot\appdata\roaming\python\python39\site-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: plotly>=5.0.0 in c:\programdata\anaconda3\lib\site-packages (from dash->jupyter-dash) (5.9.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\elcot\appdata\roaming\python\python39\site-packages (from dash->jupyter-dash) (2.0.0)
Requirement already satisfied: click>=5.1 in c:\programdata\anaconda3\lib\site-packages (from flask->jupyter-dash) (8.0.4)
Requirement already satisfied: Jinja2>=2.10.1 in c:\programdata\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in c:\programdata\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.0.1)
Requirement already satisfied: Werkzeug>=0.15 in c:\programdata\anaconda3\lib\site-packages (from flask->jupyter-dash) (2.0.3)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (0.1.6)
Requirement already satisfied: debugpy>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (1.5.1)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (7.3.4)
Requirement already satisfied: psutil in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (5.9.0)
Requirement already satisfied: pyzmq>=17 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (23.2.0)
Requirement already satisfied: traitlets>=5.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (5.1.1)
Requirement already satisfied: tornado>=6.1 in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (6.1)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from ipykernel->jupyter-dash) (21.3)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyter-dash) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyter-dash) (3.0.20)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.4.5)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyter-dash) (63.4.1)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.2.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.7.5)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyter-dash) (2.11.2)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->jupyter-dash) (0.18.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->jupyter-dash) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->jupyter-dash) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->jupyter-dash) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->jupyter-dash) (1.26.11)
Requirement already satisfied: six>=1.7.0 in c:\programdata\anaconda3\lib\site-packages (from retrying->jupyter-dash) (1.16.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->jupyter-dash) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask->jupyter-dash) (2.0.1)
Requirement already satisfied: entrypoints in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter-dash) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter-dash) (4.11.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter-dash) (2.8.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from plotly>=5.0.0->dash->jupyter-dash) (8.0.1)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyter-dash) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->ipykernel->jupyter-dash) (3.0.9)
Requirement already satisfied: pywin32>=1.0 in c:\programdata\anaconda3\lib\site-packages (from jupyter-core>=4.9.2->jupyter-client>=6.1.12->ipykernel->jupyter-dash) (302)

C:\Users\elcot\AppData\Local\Temp\ipykernel_13332\523282781.py:4: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\Users\elcot\AppData\Local\Temp\ipykernel_13332\523282781.py:5: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [2]:
df = pd.read_csv("ds_salaries.csv")
df.head(22)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
5,5,2020,EN,FT,Data Analyst,72000,USD,72000,US,100,US,L
6,6,2020,SE,FT,Lead Data Scientist,190000,USD,190000,US,100,US,S
7,7,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
8,8,2020,MI,FT,Business Data Analyst,135000,USD,135000,US,100,US,L
9,9,2020,SE,FT,Lead Data Engineer,125000,USD,125000,NZ,50,NZ,S
10,10,2020,EN,FT,Data Scientist,45000,EUR,51321,FR,0,FR,S
11,11,2020,MI,FT,Data Scientist,3000000,INR,40481,IN,0,IN,L
12,12,2020,EN,FT,Data Scientist,35000,EUR,39916,FR,0,FR,M
13,13,2020,MI,FT,Lead Data Analyst,87000,USD,87000,US,100,US,L
14,14,2020,MI,FT,Data Analyst,85000,USD,85000,US,100,US,L
15,15,2020,MI,FT,Data Analyst,8000,USD,8000,PK,50,PK,L
16,16,2020,EN,FT,Data Engineer,4450000,JPY,41689,JP,100,JP,S
17,17,2020,SE,FT,Big Data Engineer,100000,EUR,114047,PL,100,GB,S
18,18,2020,EN,FT,Data Science Consultant,423000,INR,5707,IN,50,IN,M
19,19,2020,MI,FT,Lead Data Engineer,56000,USD,56000,PT,100,US,M
20,20,2020,MI,FT,Machine Learning Engineer,299000,CNY,43331,CN,0,CN,M
21,21,2020,MI,FT,Product Data Analyst,450000,INR,6072,IN,100,IN,L

SyntaxError: unexpected EOF while parsing (677680400.py, line 23)

In [5]:
 # Initialize the app
app = dash.Dash(__name__)

# Define the layout of the app
app.layout = html.Div([
   
    html.H1("Data Visualization Dashboard"),
   
    # Histogram
    dcc.Graph(
        id='histogram',
        figure={
            'data': [{
                'x': df['work_year'],
                'y': df['experience_level'],
                'type': 'histogram'
            }],
            'layout': {
                'title': 'Histogram'
            }
        }
    ),
   
     
    # Box plot
    dcc.Graph(
        id='boxplot',
        figure={
            'data': [{
                'x': df['employment_type'],
                'y': df['job_title'],
                'type': 'box'
            }],
            'layout': {
                'title': 'Box plot'
            }
        }
    ),
   
   
    # Scatter plot
    dcc.Graph(
        id='scatterplot',
        figure={
            'data': [{
                'x': df['salary'],
                'y': df['salary_currency'],
                'mode': 'markers',
                'marker': {
                    'size': 10,
                    'color': 'red',
                    'opacity': 0.8
                }
            }],
            'layout': {
                'title': 'Scatter plot'
            }
        }
    ),
   
    # Bar chart
    dcc.Graph(
        id='barchart',
        figure={
            'data': [{
                'x': df['salary_in_usd'],
                'y': df['employee_residence'],
                'type': 'bar'
            }],
            'layout': {
                'title': 'Bar chart'
            }
        }
    ),


  # Mosaic plot
    dcc.Graph(id='mosaicplot',
              figure={
        'data': [{
            'x': df['remote_ratio'],
            'y': df['company_location'],
            'type': 'heatmap',
            'colorscale': 'Plasama'
        }],
           'layout': {
                'title': 'Mosaic plot'
            }        
    }),
 ])

In [ ]:
# Run the app
if __name__ == '__main__':
    app.run_server(port=8052)

Dash is running on http://127.0.0.1:8052/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8052/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Mar/2023 12:56:16] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:19] "GET /_dash-component-suites/dash/deps/prop-types@15.v2_9_1m1679725409.8.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:20] "GET /_dash-component-suites/dash/deps/react-dom@16.v2_9_1m1679725409.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:20] "GET /_dash-component-suites/dash/deps/react@16.v2_9_1m1679725409.14.0.min.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:20] "GET /_dash-component-suites/dash/deps/polyfill@7.v2_9_1m1679725409.12.1.min.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:21] "GET /_dash-component-suites/dash/html/dash_html_components.v2_0_9m1679725412.min.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:21] "GET /_dash-component-suites/dash/dcc/dash_core_components-shared.v2_9_0m1679725407.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:21] "GET /_dash-component-suites/dash/dash_table/bundle.v5_2_3m1679725407.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:22] "GET /_dash-component-suites/dash/dcc/dash_core_components.v2_9_0m1679725408.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:22] "GET /_dash-component-suites/dash/dash-renderer/build/dash_renderer.v2_9_1m1679725406.min.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:23] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:23] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:23] "GET /_favicon.ico?v=2.9.1 HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:23] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [25/Mar/2023 12:56:25] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -